@model MyUser
@{
    ViewData["Title"] = "Login";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/login.css">

}


<ol class="breadcrumb">
    <div class="container">
        <span class="fas fa-home"></span>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active">Client Area</li>
    </div>
</ol>

<section id="main-body">
    <div class="container">
        <div class="row">
            <div class="logincontainer">
                <div class="header-title-style">
                    <div class="header-lined">
                        <h1>Login</h1>
                    </div>
                </div>
                <div class="login-custom">
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="post" action="" class="login-form" role="form">
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "userlogin", @placeholder = "Enter email", @id = "inputEmail", @type="email" })
                                    @*<input type="email" name="username" class="userlogin" id="inputEmail" placeholder="Enter email" autofocus>*@
                                    @Html.TextBoxFor(x => x.Password, new { @class = "userlogin", @placeholder = "Password", @id = "inputPassword", @type="password", @autocomplete="off" })
                                    @*<input type="password" name="password" class="userlogin" id="inputPassword" placeholder="Password" autocomplete="off">*@
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="rememberme" /> Remember Me
                                    </label>
                                </div>
                                <div class="text-center margin-bottom">
                                </div>
                                <div align="center">
                                    <input id="login" type="submit" class="login-but" value="Login" /> <a href="/index.php?rp=/password/reset/begin" class="btn btn-default">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

